# <文字列型のメソッド>

## ①replace():文字列の一部を別の文字列に置き換える

In [9]:
univ = "横浜市立大学"
print(univ)

# 市を国に置き換える
univ.replace("市","国")

横浜市立大学

'横浜国立大学'

#### しかし、メソッド呼び出しに用いた文字列オブジェクトは変更されない。何故なら文字列はイミュータブル(変更不可)だから。

In [10]:
print(univ)

横浜市立大学

#### replace()メソッドは置換だけでなく文字の削除にも使用できる

In [21]:
my_savings = "1,000,000"
print(my_savings)

# 2番目の引数に空の文字列を渡しカンマを削除する
num = int(my_savings.replace(",",""))
print(num)

1,000,000
1000000

## ②split():文字列を特定の文字を目安にして分割する

In [22]:
self_introduction = "My name is Yoshiyuki"

# 空白ごとに分割するため半角スペース1つ分(" ")の空白を引数に与える
self_introduction.split(" ")

['My', 'name', 'is', 'Yoshiyuki']

#### n番目まで区切り、あとは区切らないようにすることもできる。2番目の引数に値を指定してやれば良い

In [24]:
fruits = "orange,apple,lemon,banana,strawberry"

# 2番目まで区切りあとは区切らない
fruits.split(",",2)

['orange', 'apple', 'lemon,banana,strawberry']

## ③join():文字列を要素とするリストを引数にとって、リストの文字列を連携した文字列を得ることができる

In [26]:
wfk = "桐生店長　紫村mg　漆原mg　吉田mg　日塔mg"
wfk2 = wfk.split()   # デフォルトでは空白を元に分割してくれる

# 空白をカンマで区切り直す
wfk3 = ",".join(wfk2)
wfk3

'桐生店長,紫村mg,漆原mg,吉田mg,日塔mg'

#### しかし例えば余分な空白があるときにreplace()を用いて削除するとその部分も置換されてしまう

In [30]:
soubu_line = " Inage Tsudanuma Funabashi Ichikawa "
soubu_line.replace(" ",",")

# Inageの前の空白とIchiIchikawaの後ろの空白もカンマに置換されてしまった

',Inage,Tsudanuma,Funabashi,Ichikawa,'

#### このような時split()とjoin()を駆使するときれいに置換できる

In [36]:
keikyu_line = " Yokohama  KeikyuKawasaki KeikyuKamata Shinagawa "
keikyu_line2 = keikyu_line.split()
keikyu_line3 = ",".join(keikyu_line2)
keikyu_line3

'Yokohama,KeikyuKawasaki,KeikyuKamata,Shinagawa'

## ④index():文字列を検索する。第一引数に探したい文字、第二引数に開始インデックス、第三引数に終了するインデックスを指定する

In [34]:
irohauta = "いろはにほへと"
irohauta.index("に",0,6)

3

# <エスケープシーケンス>
### エスケープシーケンスとは、改行やタブを埋め込みたいときやクォーテーションを入れたいときに用いるもの

## ①￥n:改行←(￥は本当は半角)

In [14]:
print("松島や\nああ松島や\n松島や")

松島や
ああ松島や
松島や

#### ちなみにこれと同じことはクォーテーション3つで囲ってもできる

In [15]:
print("""松島や
ああ松島や
松島や """)

松島や
ああ松島や
松島や

## ②￥':シングルクォーテーション

In [16]:
print("This game is my father\'s.")

This game is my father's.

#### jupyterで書いてるからそもそもシングルクォーテーション3つというのがエラーになり打ち込むことすらできないのだが、インタプリンタで書けばしっかりとエラーになる

## ③￥￥:ダブルスラッシュ

#### これもある意味jupyter使っている限りは不要。インタプリンタで書くときのみ考慮すれば良い。ダブルクォーテーションも同じ

# <文字列型のフォーマット>
### format()メソッドは波括弧{}で囲んだ文字列を使ってテンプレートの中に文字列を差し込む位置を指定する。

## 1.フォーマットに要素を埋め込む

In [1]:
"{} love Python!".format("I")

'I love Python!'

## 2.引数の順番を指定して埋め込む

In [2]:
"Lunch was {0} carry,dinner was {1} carry.I prefer {1} to {0}. ".format("chicken","beef")

'Lunch was chicken carry,dinner was beef carry.I prefer beef to chicken. '

## 3．キーで差し込み位置を指定する

In [3]:
"{color1},{color2},{color3}".format(color3 = "red",color2 = "yellow",color1 = "blue")

'blue,yellow,red'

## 4．ディクショナリで指定する

In [4]:
a = {"whose":"His","sport":"soccer"}
"{0[whose]} favorite sport is {0[sport]}." .format(a)

'His favorite sport is soccer.'

In [5]:
a = {"whose":"His","sport":"soccer"}
b = {"whose2":"Her","sport2":"tennis"}
"{0[whose2]} favorite sport is {0[sport2]}." .format(b)

'Her favorite sport is tennis.'

#### ↑正直この0というのは使い方がよくわからなかった(P179)

## ※ f文字列
#### format()と同じような機能を持っている

In [6]:
name = "君"
f"{name}のこころは輝いてるかい？"

'君のこころは輝いてるかい？'

# <リスト型のメソッド>

## ①sort():要素の並び順を入れ替えるソートを行う。デフォルトでは小さい順に並べかえる

In [8]:
ds_student = [163,172,155,168,183,159]
ds_student.sort()
ds_student

[155, 159, 163, 168, 172, 183]

### reverseというキーワード引数を指定してTrueを渡すと大きい順に並びかえる("小さい順"の逆(reverse)ですね)

In [11]:
ds_student.sort(reverse = True)
ds_student

[183, 172, 168, 163, 159, 155]

## ②reverse():並び順を逆にする(sort()の際の引数のreverseとは異なることに注意)

In [14]:
ds_student = [163,172,155,168,183,159]
ds_student.reverse()
ds_student

[159, 183, 168, 155, 172, 163]

## ③remove():要素を取り除く

In [15]:
ds_student = [163,172,155,168,183,159]
ds_student.remove(172)
ds_student

[163, 155, 168, 183, 159]

## ④append():末尾に要素を追加する

In [18]:
ds_student = [163,172,155,168,183,159]
ds_student.append(174)
ds_student

[163, 172, 155, 168, 183, 159, 174]

### しかしappend()では要素を1つしか追加できない。2つ以上の値を引数に入れるとエラーになる

In [19]:
ds_student = [163,172,155,168,183,159]
ds_student.append(174,180)
ds_student

TypeError: append() takes exactly one argument (2 given)

## ⑤extend():末尾に連結するシーケンスの要素を追加する

In [21]:
ds_student = [163,172,155,168,183,159]
ds_student.extend([174,180])
ds_student

[163, 172, 155, 168, 183, 159, 174, 180]

### extend()はリストとリストを結合できるため結果として複数の要素を末尾に追加できる。しかしシーケンスは1つでないといけないため、複数の要素を引数に指定するとエラーになる

In [22]:
ds_student = [163,172,155,168,183,159]
ds_student.extend(174,180)
ds_student

TypeError: extend() takes exactly one argument (2 given)

In [23]:
ds_student = [163,172,155,168,183,159]
ds_student.extend([174,180],[160,176])
ds_student

TypeError: extend() takes exactly one argument (2 given)

In [25]:
ds_student = [163,172,155,168,183,159]
ds_student.extend((174,180))
ds_student

[163, 172, 155, 168, 183, 159, 174, 180]

### extend()はシーケンスを引数に取るのでタプルにすることもできる

## ⑥pop():削除した要素を返す。引数に削除したい要素のインデックスの数値を指定する。デフォルトではそのリストの末尾の要素を削除する

In [35]:
ds_student = [163,172,155,168,183,159]
ds_student.pop()
ds_student

[163, 172, 155, 168, 183]

In [36]:
ds_student = [163,172,155,168,183,159]
ds_student.pop(2)
ds_student

[163, 172, 168, 183, 159]

# set型、ディクショナリのメソッドは省略。そんなに重要じゃなさそう…(p189,p190,p194,p195)

# bool型:True(1)とFalse(0)の2値しかとらない

In [1]:
a = 10
b = 12
print(a > b)

False

### 比較演算子は数値計算の演算子より優先度が低い

In [2]:
print(a > b-3)

True

### boolは計算に使うこともできる(1,0とそれぞれ等値だから)

In [7]:
print(a + True)
print(a * False)

11
0

In [10]:
for i in range(1,10,2):
    print(i,end = " ")

1 3 5 7 9

## ・zip()関数を用いると2つのシーケンスからどちらかのシーケンスの要素がなくなるまで繰り返し要素を取り出すことができる(p200)

In [22]:
num = [1,2,3,4,5]
alp = ["a","b","c","d"]
for n,al in zip (num,alp):
    print(n,al)
    
# numは要素数が5つ、alpは要素数が4つなのでnumの最後の要素5は取り出されずにループが終了する

1 a
2 b
3 c
4 d