## ①endswith
# ある文字列の末尾に対してその文字が含まれるかどうか。含まれたらTrueで返し、含まれなかったらFalseと出る。

In [6]:
#Yoshiyuki Kobayashiの末尾の文字はi
YK = "Yoshiyuki Kobayashi"
print(YK.endswith("Y")

False

In [10]:
YK = "Yoshiyuki Kobayashi"
print(YK.endswith("i"))

True

## ③find
# ある文字が前から数えて何番目か数字で返す。ただし、先頭を0番目と数えることに注意。ないときは-1と出る。

In [13]:
fact1 = "YCU is not a famous in Yokohama City."
ff1 = fact1.find("not")
print(ff1)

fact2 = "小林くんは東京都中野区出身です。"
ff2 = fact2.find("中野")
print(ff2)

num = "12345"
ff3 = num.find("6")
print(ff3)

7
8
-1

## ④format
# 文字列に変数(足し算とか)を埋め込む。変数がいくつもある場合、引数は0から指定する

In [14]:
#変数が一つの場合
apple  = 50
orange = 100
total = apple + orange

print('合計：{}円'.format(total))

合計：150円

In [15]:
#変数が複数ある場合
apple  = 50
orange = 100
total = apple + orange

print('りんご：{0}円 みかん：{1}円 合計：{2}円'.format(apple, orange, total))

りんご：50円 みかん：100円 合計：150円

In [16]:
point = {'x':4,'y':-5}
print('{x} {y}'.format_map(point))

point = {'x':4,'y':-5, 'z': 0}
print('{x} {y} {z}'.format_map(point))

4 -5
4 -5 0

## ②expandtabs

# 文字列内の全てのタブ文字が 1 つ以上のスペースで置換された、文字列のコピーを返します。スペースの数は現在の桁 (column) 位置と tabsize に依存します。タブ位置は tabsize 文字毎に存在します (デフォルト値である 8 の場合、タブ位置は 0, 8, 16 などになります)。文字列を展開するため、まず現桁位置がゼロにセットされ、文字列が 1 文字ずつ調べられます。文字がタブ文字 (\t) であれば、現桁位置が次のタブ位置と一致するまで、1 つ以上のスペースが結果の文字列に挿入されます。(タブ文字自体はコピーされません。) 文字が改行文字 (\n もしくは \r) の場合、文字がコピーされ、現桁位置は 0 にリセットされます。その他の文字は変更されずにコピーされ、現桁位置は、その文字の表示のされ方 (訳注: 全角、半角など) に関係なく、1 ずつ増加します。

## ⑤format_map(mapping)
# str.format(**mapping) と似ていますが、 mapping は dict にコピーされず、直接使われます。これは例えば mapping が dict のサブクラスであるときに便利です: